.ActivityCard {
    margin:2%
}

.ActivityInfo{
    display: flex;
    flex-direction: column;
    justify-content:space-around
}


.ActCardIn {
    width: 25rem;
    height: 18rem auto;
    padding: 3%;
    background: linear-gradient(142deg, rgba(54,94,94,1) 3%, rgba(0,4,8,1) 97%)

}

