.UserForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:15%;
    margin-left: 25%;
    width: 50%;
    border-style: solid;
    border-radius: 2%;
    padding: 5%;
    color: white;

}


@media only screen and (max-width: 1000px) {
    .UserForm{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top:40vh;
        margin-left: 10%;
        width: 80%;
        border-style: solid;
        border-radius: 2%;
        padding: 5%;
        color: white;
    
    }
  }