.SearchForm{
    
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    height:auto;
    width: 70vh;
    border-style: solid;
    border-radius: 2%;
    color: white;
    padding: 2%;
    margin-top: 4%;
}