.TourDetails {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 2%;
}


.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3em;
    width: auto;

}

