.TourDetails {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    margin: 2%;
}


.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: -2vh;

}

