.TourstopDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10vh;
    font-family: myFont;
}


.B {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}



@font-face {
    font-family: myFont;
    src: url("../../fonts/Ronysiswadi9Light-DO5K9.ttf");
  }