.comboIn{
    background-color: white;
    padding: 1vh;;
    width: 40vh;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 0.5vh;

}

.comboOpt{
    background-color: whitesmoke;
}

.comboList {
    color: black;
    background-color: white;
}

