.TourList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    margin-right:5%;
    flex-wrap:wrap;
    font-family: myFont;
}

.TourCard {
 margin: 2%;

}


.AddTourButton{
    margin-top: 5%;
    font-family: myFont;
 
}


.EmptyTourList {
    color:whitesmoke;
    font-size: x-large;
    margin: 5%;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url("../../fonts/Ronysiswadi9Light-DO5K9.ttf");
  }