.TourList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
    margin-right:5%;
    flex-wrap:wrap;
}

.TourCard {
 margin: 2%;

}


.AddTourButton{
    margin-top: 5%;
 
}


.EmptyTourList {
    color:whitesmoke;
    font-size: x-large;
    margin: 5%;
}