.TourDeleteCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    font-family: myFont;

}

.Tourinfo {
    color: whitesmoke;
    border-style: solid;
    border-radius: 4%;
    height: 30rem;
    width:35rem;
    padding: 3rem;
}



.Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10vw;
}



@font-face {
    font-family: myFont;
    src: url("../../fonts/Ronysiswadi9Light-DO5K9.ttf");
  }


  @media only screen and (max-width: 980px){

    .Tourinfo {
        color: whitesmoke;
        border-style: solid;
        border-radius: 4%;
        height: 60vh;
        max-height: 400px;
        width:35rem;
        padding: 3rem;
        width: 80vw;
        font-size: smaller;
    }

    .Buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 6vw;
    }
    

    
    
    }
    
    
    