

.PoiResultCard {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
   

    
       
    
}

.Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:normal;
    height:30vh;
}