.SignUpForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top:20vh;
    margin-left: 60vh;
    width: 80vh;
    border-style: solid;
    border-radius: 2%;
    padding: 5%;
    color: white;
}
