.TourstopsList {
    margin: 4%;
    color: whitesmoke
}

.Tourstopsheading{
   
    margin: 2%
}

.Tourstoplistheading {
    margin-right: 20%;
}

.AddStopButton {
    margin-top: 5%;
    margin-right: 20%;
    background: linear-gradient(142deg, rgba(36,62,62,1) 3%, rgba(0,4,8,1) 97%);
}