
.ActivityCreateForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    font-family: myFont;
}


.ActivityMap{
    margin: 2%
}


@font-face {
    font-family: myFont;
    src: url("../../fonts/Ronysiswadi9Light-DO5K9.ttf");
  }