
.ActivityCreateForm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    font-family: myFont;
}



.ActivityMap{
    margin: 2%
}

.results {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@font-face {
    font-family: myFont;
    src: url("../../fonts/Ronysiswadi9Light-DO5K9.ttf");
  }


  @media only screen and (max-width: 1000px){
    .ActivityCreateForm{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 13vh;
        margin-bottom: 5vh;
        font-family: myFont;
    }

    .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
    }
  }